<link href="~/Content/AddSellStyles.css" rel="stylesheet" />
@{
    Layout = "~/Views/Shared/_LayoutNoNav.cshtml";
}
@using Microsoft.AspNet.Identity
@if (!Request.IsAuthenticated)
{
    Response.Redirect("/Account/Login");
}
<div class='container-fluid row ng-cloak' ng-controller="AddCoinsController as AddCoinsCtr">
    <form name="form">
        <div class="row">
            <div class="col-md-6">
                <input type="text" ng-model="AddCoinsCtr.selected" class="form-control" id="firstInput" placeholder="Select Coin:"
                       uib-typeahead="coin for coin in AddCoinsCtr.coinArrayNames | filter:$viewValue | limitTo:5"
                       typeahead-no-results="noResults" typeahead-wait-ms="250" required>
                <div id="noResults" ng-show="noResults">
                    <i class="glyphicon glyphicon-remove"></i> No Tradeable Coin Found
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <input class="form-control" type="number" placeholder="Number Purchased"
                       step=any ng-model="AddCoinsCtr.inputs.numberPurchased" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">

                <input class="form-control" placeholder="Price Per Coin"
                       type="number" step=any ng-model="AddCoinsCtr.inputs.currentPrice" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="margin-top:1%;">
                <button id="submitButton" ng-click="AddCoinsCtr.send()" ng-disabled="form.$invalid" class="btn">SEND</button>
            </div>
        </div>
    </form>
</div>

@section scripts {
    <script src="~/Scripts/UserMain/AddCoinsController.js"></script>
}