@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/TableTemplate.css" rel="stylesheet" />
<div class='container-fluid row ng-cloak' ng-controller="DashboardController as DashboardCtr">
    @using Microsoft.AspNet.Identity
    @if (!Request.IsAuthenticated)
    {
        Response.Redirect("/Account/Login");
    }
        <table class="table-fill" >
            <thead>
                <tr @*class="row"*@>
                    <th class="text-left">Coin</th>
                    <th class="text-left"># Owned</th>
                    <th class="text-left">Purchase Avg</th>
                    <th class="text-left">Total Spent</th>
                    <th class="text-left">Current Val.</th>
                    <th class="text-left">Total Val.</th>
                </tr>
            </thead>
            <tbody class="table-hover">
                <tr @*class="row"*@ ng-repeat="x in DashboardCtr.mainArray">
                    <td class="text-left">{{x.CoinName}}</td>
                    <td class="text-left">{{x.NumberOfCoins}}</td>
                    <td class="text-left">$ {{x.AverageValue}}</td>
                    <td class="text-left">$ {{x.TotalInvested}}</td>
                    <td class="text-left">${{x.Price}} <br/>({{x.DifferencePerCoin}})</td>
                    <td class="text-left">${{x.TotalPrice}} <br/>({{x.PercentChangePerCoin}}%)</td>
                </tr>
               
            </tbody>
        </table>

</div>

@section scripts {

<script src="~/Scripts/UserMain/DashboardController.js"></script>

   
}



