@using Microsoft.AspNet.Identity
@if (!Request.IsAuthenticated)
{
    <h1>Please Login</h1>
    <h4></h4>
    <br />
    <h5>Guest user login info:</h5>
    <p>Email: <span style="color:blue;font-weight:bold">  qwe@qwe.com</span></p>
    <p>Password: <span style="color:blue;font-weight:bold">qweQ123!</span></p>
}
else
{
    <h2>History</h2>
    <h3>Add History</h3>

    <p>Use this area to provide additional information.</p>
}