<link href="~/Content/AddSellStyles.css" rel="stylesheet" />
@{
    Layout = "~/Views/Shared/_LayoutNoNav.cshtml";
}
    @using Microsoft.AspNet.Identity
    @if (!Request.IsAuthenticated)
    {
        Response.Redirect("/Account/Login");
    }
<div class='container-fluid ng-cloak' ng-controller="SellCoinsController as SellCoinsCtr">
    <form name="form">
        <div class="row">
            <div class="col-md-6">
                <input type="text" ng-model="SellCoinsCtr.selected" class="form-control" id="firstInput" placeholder="Select Coin:"
                       uib-typeahead="coin for coin in SellCoinsCtr.coinArrayNames | filter:$viewValue | limitTo:5"
                       typeahead-no-results="noResults" typeahead-wait-ms="250" required>
                <div id="noResults" ng-show="noResults">
                    <i class="glyphicon glyphicon-remove"></i> Coin not found in wallets
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <input type="number" class="form-control" placeholder="Number Sold"
                       step=any ng-model="SellCoinsCtr.inputs.numberSold" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <input type="number" class="form-control" placeholder="Current Price per Coin"
                       step=any ng-model="SellCoinsCtr.inputs.currentPrice" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="margin-top:1%;">
                <button id="submitButton" ng-click="SellCoinsCtr.send()" ng-disabled="form.$invalid" class="btn">Send</button>
            </div>
        </div>
    </form>
</div>
@section scripts {
    <script src="~/Scripts/UserMain/SellCoinsController.js"></script>
}